rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
    function isValidEmail() {
      return request.auth.token.email != null && request.auth.token.email_verified
    }

    match /chat/{doc=**} {
      allow read;
      allow write: if isAuthenticated();
    }

    match /order/{doc=**} {
      allow read;
      allow write: if isAuthenticated();
    }
    
    match /workspaces/{workspaceId} {
      function isAllowedEmailDomain() {
        return isAuthenticated() && isValidEmail() && request.auth.token.email.split('@')[1] in get(/databases/$(database)/documents/workspaces/$(workspaceId)).data.domains
      }

      allow read, write: if isAllowedEmailDomain();

    	match /meetings/{meetingId} {
        function isAllowedEmail() {
          return isAuthenticated() && isValidEmail() && request.auth.token.email in  get(/databases/$(database)/documents/workspaces/$(workspaceId)/meetings/$(meetingId)).data.guests;
        }
        function isPublicMeeting() {
          return get(/databases/$(database)/documents/workspaces/$(workspaceId)/meetings/$(meetingId)).data.accessLevel == 'public'
        }
        function isWorkspaceMeeting() {
          return get(/databases/$(database)/documents/workspaces/$(workspaceId)/meetings/$(meetingId)).data.accessLevel == 'workspace'
        }

        allow read, write: if isPublicMeeting();
        allow read, write: if isWorkspaceMeeting() && isAllowedEmailDomain();
        allow read, write: if isAllowedEmail();

				match /topics/{topicsId} {
          allow read, write: if isPublicMeeting();
          allow read, write: if isWorkspaceMeeting() && isAllowedEmailDomain();
          allow read, write: if isAllowedEmail();
        }

				match /archives/{archiveId} {
          allow read, write: if isPublicMeeting();
          allow read, write: if isWorkspaceMeeting() && isAllowedEmailDomain();
          allow read, write: if isAllowedEmail();
        }
}
    }
  }
}